* {
  margin: 0;
  padding: 0;
}

.container ul {
  list-style: none;
}

.box {
  width: 100px;
  height: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbersContainer {
  max-width: 800px;
}

.numbersContainer ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1px 1px;
}

.numbersContainer ul li {
  display: flex;
  margin: 1px;
}