body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-wrapper{
  text-align: center;
}
.bar{
  background-color: orange;
  height: 30px;
  width: 40%; 
  margin: 0 30px;
  display: flex;
  justify-content: flex-start;
}

.dataContainer p{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}