@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
     /* dark shades of primary color*/
     --clr-primary-1: hsl(205, 86%, 17%);
     --clr-primary-2: hsl(205, 77%, 27%);
     --clr-primary-3: hsl(205, 72%, 37%);
     --clr-primary-4: hsl(205, 63%, 48%);
     /* primary/main color */
     --clr-primary-5: #49a6e9;
     /* lighter shades of primary color */
     --clr-primary-6: hsl(205, 89%, 70%);
     --clr-primary-7: hsl(205, 90%, 76%);
     --clr-primary-8: hsl(205, 86%, 81%);
     --clr-primary-9: hsl(205, 90%, 88%);
     --clr-primary-10: hsl(205, 100%, 96%);
     /* darkest grey - used for headings */
     --clr-grey-1: hsl(209, 61%, 16%);
     --clr-grey-2: hsl(211, 39%, 23%);
     --clr-grey-3: hsl(209, 34%, 30%);
     --clr-grey-4: hsl(209, 28%, 39%);
     /* grey used for paragraphs */
     --clr-grey-5: hsl(210, 22%, 49%);
     --clr-grey-6: hsl(209, 23%, 60%);
     --clr-grey-7: hsl(211, 27%, 70%);
     --clr-grey-8: hsl(210, 31%, 80%);
     --clr-grey-9: hsl(212, 33%, 89%);
     --clr-grey-10: hsl(210, 36%, 96%);
     --clr-white: #fff;
     --clr-red-dark: hsl(360, 67%, 44%);
     --clr-red-light: hsl(360, 71%, 66%);
     --clr-green-dark: hsl(125, 67%, 44%);
     --clr-green-light: hsl(125, 71%, 66%);
     --clr-gold: #c59d5f;
     --clr-black: #222;
     --ff-primary: "Roboto", sans-serif;
     --ff-secondary: "Open Sans", sans-serif;
     --transition: all 0.3s linear;
     --spacing: 0.25rem;
     --radius: 0.5rem;
     --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
     --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
     --max-width: 1170px;
     --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: var(--ff-secondary);
     background: var(--clr-grey-10);
     color: var(--clr-grey-1);
     line-height: 1.5;
     font-size: 0.875rem;
}

ul {
     list-style-type: none;
}

a {
     text-decoration: none;
}

img:not(.logo) {
     width: 100%;
}

img {
     display: block;
}

h1,
h2,
h3,
h4 {
     letter-spacing: var(--spacing);
     text-transform: capitalize;
     line-height: 1.25;
     margin-bottom: 0.75rem;
     font-family: var(--ff-primary);
}

h1 {
     font-size: 3rem;
}

h2 {
     font-size: 2rem;
}

h3 {
     font-size: 1.25rem;
}

h4 {
     font-size: 0.875rem;
}

p {
     margin-bottom: 1.25rem;
     color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
     h1 {
          font-size: 4rem;
     }

     h2 {
          font-size: 2.5rem;
     }

     h3 {
          font-size: 1.75rem;
     }

     h4 {
          font-size: 1rem;
     }

     body {
          font-size: 1rem;
     }

     h1,
     h2,
     h3,
     h4 {
          line-height: 1;
     }
}

/*  global classes */

.btn {
     text-transform: uppercase;
     background: transparent;
     color: var(--clr-black);
     padding: 0.375rem 0.75rem;
     letter-spacing: var(--spacing);
     display: inline-block;
     transition: var(--transition);
     font-size: 0.875rem;
     cursor: pointer;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
     border-radius: var(--radius);
}

.btn:hover {
     color: var(--clr-white);
     background: #68bdf9;
}

/* section */
.section {
     padding: 5rem 0;
}

main {
     min-height: 100vh;
     display: grid;
     place-items: center;
}

/*
=============== 
Menu
===============
*/

.menu {
     padding: 5rem 0;
}

.title {
     text-align: center;
     margin-bottom: 2rem;
}

.underline {
     width: 5rem;
     height: 0.25rem;
     background: var(--clr-gold);
     margin-left: auto;
     margin-right: auto;
}

.btn-container {
     margin-bottom: 4rem;
     display: flex;
     justify-content: center;
}

.filter-btn {
     background: transparent;
     border-color: var(--clr-gold);
     font-size: 1rem;
     text-transform: capitalize;
     margin: 0 0.5rem;
     letter-spacing: 1px;
     border-radius: var(--radius);
     padding: 0.375rem 0.75rem;
     color: var(--clr-gold);
     cursor: pointer;
     transition: var(--transition);
}

.filter-btn:hover {
     background: var(--clr-gold);
     color: var(--clr-white);
}

.section-center {
     width: 90vw;
     margin: 0 auto;
     max-width: 1170px;
     display: grid;
     gap: 3rem 2rem;
     justify-items: center;
}

.menu-item {
     display: grid;
     gap: 1rem 2rem;
     max-width: 25rem;
}

.photo {
     object-fit: cover;
     height: 200px;
     border: 0.25rem solid var(--clr-gold);
     border-radius: var(--radius);
}

.item-info header {
     display: flex;
     justify-content: space-between;
     border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item-info h4 {
     margin-bottom: 0.5rem;
}

.price {
     color: var(--clr-gold);
}

.item-text {
     margin-bottom: 0;
     padding-top: 1rem;
}

@media screen and (min-width: 768px) {
     .menu-item {
          grid-template-columns: 225px 1fr;
          gap: 0 1.25rem;
          max-width: 40rem;
     }

     .photo {
          height: 175px;
     }
}

@media screen and (min-width: 1200px) {
     .section-center {
          width: 95vw;
          grid-template-columns: 1fr 1fr;
     }

     .photo {
          height: 150px;
     }
}


.details{
     padding: 2rem 5rem;
     background-color: #68bdf9;
}
.profile{
     padding: 2rem 5rem;
}
.profile ul{
     padding: 0 1rem ;
}
.profile img{
     width: 180px;
     border-radius: 50%;
}
.profile button{
     padding: .3rem .7rem;
     border-radius: 5px;
     margin: 0 .5rem;
     outline: none;
     border: none;
     background-color: #68bdf9;
     font-weight: 600;
     color: #fff;

}
.profile button:hover{
     cursor: pointer;
}
.card{
     margin: 2rem auto;
     width: calc(100%/3) ;
     border: 2px solid #000;
     padding: 1rem 3rem;
     border-radius: 7px;
     box-shadow: 0 0 5px rgb(143, 143, 143);
     /* text-align: center; */
}
.btn{
     display: block;
     margin: auto;
}