body{
  margin: 0;
  padding: 0;
}

.header-wrapper{
  font-size: 24px;
  text-align: center;
  
}

.numContainer, .numContainer1{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.numContainer p{  
  color: white;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 210px;
  height: 210px;
}

.numContainer1 p {
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 210px;
  height: 210px;
}


.red{
  background-color: rgb(214, 40, 40);
}

.green{
  background-color: rgb(21, 151, 21);
}

.yellow{
  background-color: rgb(223, 223, 22);
}