* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Barlow', sans-serif;
}

body {
    display: flex;
    justify-content: start;
    margin: 30px auto;
    padding: 0 80px;
}