
#game-board-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}

#hex-color-board-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}
#hex-box{
  display: flex;
  align-items: center;
  width: 37px;
  height: 37px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 0;
  font-size:10px;
}

#green-box {
  display: flex;
  align-items: center;
  background-color: rgb(0, 255, 34);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 0;
}



#red-box {
  display: flex;
  align-items: center;
  background-color: rgb(255, 60, 0);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 0;
}

#yellow-box {
  display: flex;
  align-items: center;
  background-color: rgb(238, 255, 0);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 0;
}


#chart {
  margin-left: 50px;
}