*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
section{
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     gap: 10px;
}
section h1{
     font-size: 3.5rem;
     background: rgba(255, 255, 255, 0.25);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(6px);
          -webkit-backdrop-filter: blur(6px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
     color: #fff;
     padding: 2rem 5rem;
}